/* Large desktop */
@media (min-width: 1200px) {}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {}
 
/* Landscape phones and down */
@media (max-width: 480px) {}


/* `generic
--------------------------------------------------------------------------------*/


/* `user info widget
--------------------------------------------------------------------------------*/

.user-info {
    
}


/* `Form
--------------------------------------------------------------------------------*/

h1.form-title {
    background: #eee;
    padding: 10px;
    border-radius: 8px;
}


/* `Form: Create Datatype
--------------------------------------------------------------------------------*/

#form-create-datatype {
    .fields {
        input {
            margin-right: 10px;
        }
        label {
            margin-right: 10px;
        }

        .field div {
            float: left;
        }
    }

    #id_schema {
        display: none;
    }
}
