{% extends "base.html" %}

{% block title %}Browse visualizations - Datavizer{% endblock %}

{% block content %}

<div class="row">
    <h1>Browse and stuff!!</h1>
    <p>Discover how YOU can become a flower. We re both busy and time is important so here is a breakdown. Night Unit Night Fighter. Finance. Eels. Start amazing. Explain. Busy days, May Just Be. DO YOU WANT MORE WEALTH? Out of control grocery. Toxic. For decades I ve been mastering my tomato. Silly Summer Hat. Get Ready For Romance. Cheese And Garlic Dog. Confidential birth date information hidden in the magic of numbers. Valentine. Help.</p>    
</div>

{% endblock %}